@import "tailwindcss";

@theme {
    /* --color-*:initial;
    --color-redx:red;
    --color-bluex:blue;
    --color-greeny:green;  */

    --animate-trin: ani 2s ease-in 0s infinite;
    @keyframes ani {
        20%{
            transform: scale(2);
            background-color:red;
        }
        50%{
            background-color:green;
        }
        100%{
            transform:rotate(180deg);
        }
    }
}

    @layer base {
        h1{
            @apply text-2xl font-semibold;
        }
    }
    @layer components {
        .card {
            @apply bg-white rounded-2xl w-[200px] text-center shadow-lg p-[5px] my-2;
        }
    }
    @layer utilities {
        .square {
            @apply h-[300px] w-[300];
        }
    }
